@import "tailwindcss";

@theme {
    --font-inter: "Inter", sans-serif;
    --font-space: "Space Grotesk", sans-serif;
}

* {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

*::-webkit-scrollbar {
    display: none !important;
}

:root {
    background-color: #020617;
    color: white;
    font-family: var(--font-inter);
}

html,
body {
    margin: 0;
    overflow-x: hidden;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-space);
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}